TestingLegacyCode/UnitTestingWithLegacyHandsOn/Traffic.Core/Service References/RoadworkServiceReference/ServiceImplementation3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.ALMRangers.FakesGuide.ComplexDependencies.Traffic.RoadworkService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.ALMRangers.FakesGuide.ComplexDependencies.Traffic.RoadworkService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31119/ServiceImplementation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.ALMRangers.FakesGuide.ComplexDependencies.Traffic.Core.Models" />
  <xs:complexType name="ArrayOfImpediment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Impediment" nillable="true" type="tns:Impediment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImpediment" nillable="true" type="tns:ArrayOfImpediment" />
  <xs:complexType name="Impediment">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.ALMRangers.FakesGuide.ComplexDependencies.Traffic.Core.Models" minOccurs="0" name="location" nillable="true" type="q1:Block" />
      <xs:element minOccurs="0" name="relativeSpeed" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Impediment" nillable="true" type="tns:Impediment" />
</xs:schema>